<configuration>
    <system.webServer>
        <handlers>
            <add name="FastCGI"
		path="*" 
		verb="*" 
		modules="FastCgiModule" 
		scriptProcessor="c:\python\python27\python.exe|c:\python\python27\lib\site-packages\wfastcgi.pyc" 
		resourceType="Unspecified"
		requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
      <add key="WSGI_HANDLER" value="insert.app" />
      <add key="PYTHONPATH" value="C:\inetpub\wwwroot\" />
      <add key="WSGI_LOG" value="C:\inetpub\wwwroot\insert.log" />	
    </appSettings>
</configuration>