<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="renewbot.py" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />       
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\renewalBot" />
        <add key="WSGI_HANDLER" value="renewbot.app" />
    </appSettings>
</configuration>